/*NAVIGATION BAR CODE*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.0416666666666667vw;
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #111; /* Change the link color to #111 (black) on hover */
}

.active {
  background-color: #04AA6D;
}

/*BASE*/
.base{
margin-left: 20px;
}

/*BUTTONS*/
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8333333333333334vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.buttonfooter {
background-color: #04AA6D;
border: 2px solid white;
}

.buttonfooter:hover {
background-color: white;
color: #04AA6D;
}

/*PANEL CODE*/
.panel {
border: 2px solid black;
padding: 2%;

/*STARTING TEXT*/
.start h2 {
text-align:end;
margin-left:50%
}
.start img {
margin-right: auto;
}

/*IMAGES*/
.imageflex {
display: flex;
}

.imageflexcontent {
margin-left: 5px;
margin-top: 0;
font-size: 1vw;
}

.imageflexcontentborder {
padding: 5px;
border: 2px solid black;
}