/*BODY*/
body {
font-family: verdana;
}

/* FLEXBOXES */
/*HOME*/
.parent1 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.base1 { grid-area: 1 / 1 / 2 / 4;
font-size:1.5625vw;
}
.side1 { grid-area: 1 / 4 / 2 / 5; }

/*PAGE 2*/
.base2 {
font-size:1.5625vw;
}

/*PAGE 4*/
@media only screen and (min-width: 800px) {
    .parent4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

    .row1 { grid-area: 1 / 1 / 2 / 2; }
    .row2 { grid-area: 1 / 2 / 2 / 3; }
    .row3 { grid-area: 1 / 3 / 2 / 4; }
}

.row1 {
padding: 3%;
}
.row2 {
padding: 3%;
}
.row3 {
padding: 3%;
}

/*HEADERS*/
#homeheader {
background-image: url("images/headers/homeheader.png");
}

#page2header {
background-image: url("images/headers/page2header.png");
}

#page3header {
background-image: url("images/headers/page3header.jpg");
}

#page4header {
background-image: url("images/headers/page4header.jpg");
}

#headertext {
margin-right:50%;
text-align: left;
}

#headertext4 {
text-align: right;
}

.navigation1 {
padding: 3.125vw;
border: 4px solid #04AA6D;
color: white;
font-size: 1.5625vw;
background-repeat: no-repeat, repeat;
width: 100%;
}

.navigation2 {
padding: 3.125vw;
border: 4px solid #04AA6D;
color: white;
font-size: 1.5625vw;
background-repeat: no-repeat, repeat;
}

.navigation3 {
padding: 3.125vw;
border: 4px solid #04AA6D;
color: white;
font-size: 1.5625vw;
background-repeat: no-repeat, repeat;
}

.navigation4 {
padding: 3.125vw;
border: 4px solid #04AA6D;
color: white;
font-size: 1.5625vw;
background-repeat: no-repeat, repeat;
}

/*FOOTER*/
*{
padding: 0;
box-sizing: border-box;
}

.footer1{
margin-top: 150px;
padding: 100px 15%;
width: 100%;
background: #04AA6D;
color: white;
display: flex;
}

.footer1 div{
text-align: center;
}

.footer2{
margin-top: 150px;
padding: 100px 15%;
width: 100%;
background: #04AA6D;
color: white;
display: flex;
}

.footer2 div{
text-align: center;
}

.footer3{
margin-top: 150px;
padding: 100px 15%;
width: 100%;
background: #04AA6D;
color: white;
display: flex;
}

.footer3 div{
text-align: center;
}

.footer4{
margin-top: 150px;
padding: 100px 15%;
width: 100%;
background: #04AA6D;
color: white;
display: flex;
}

.footer4 div{
text-align: center;
}

.col-1 a{
display: block;
text-decoration: none;
color: #efefef;
margin-bottom: 10px;
}

.col-2{
flex-grow: 2;
}

.col-3 a{
display: block;
text-decoration: none;
color: #efefef;
margin-bottom: 10px;
}

.footer div h4{
font-weight:600;
margin-bottom: 30px;
letter-spacing: 1px;
}

/*FOOTER FORM*/
form input{
width: 20.833vw;
height:2.344vw;
border-radius: 4px;
text-align: center;
margin-top: 20px;
margin-botton: 40px;
outline: none;
border: none;
}

/*NAVIGATION BAR CODE*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.0416666666666667vw;
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #111; /* Change the link color to #111 (black) on hover */
}

.active {
  background-color: #04AA6D;
}

/*BASE*/
.base1, base2, base3, base4 {
margin-left: 20px;
}

/*BUTTONS*/
.button {
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.buttonfooter {
background-color: #04AA6D;
border: 2px solid white;
}

.buttonfooter:hover {
background-color: white;
color: #04AA6D;
}



/*PAGE 1 CODE*/
/*SIDE*/
.side {
margin-left: 20px;
}
.sidebox {
border: 2px solid black;
padding: 8px;
}
.boxtext {
text-align: center;
}

/*PAGE 2 CODE*/
/*PANEL CODE*/
.panel {
border: 2px solid black;
padding: 2%;
/*STARTING TEXT*/
.start h2 {
text-align:end;
margin-left:50%
}
.start img {
margin-right: auto;
}

/*IMAGES*/
.imageflex {
display: flex;

}

.imageflexcontent {
margin-left: 5px;
margin-top: 0;
font-size: 1vw;
}

.imageflexcontentborder {
padding: 0.521vw;
border: 2px solid black;
}
